.App {
  text-align: center;
}

.body {
  /* background-image: url('pexels-joseph-redfield-1870438.jpg');
  background-size: cover;
  background-position: center; */
}
/* .cover-container {
  max-width: 42em;
} */
